@tailwind base;
@tailwind components;
@tailwind utilities;

.lexend-deca-400 {
  font-family: 'Lexend Deca', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.big-shoulders-display-700 {
  font-family: 'Big Shoulders Display', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
